html {
  overflow-x: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 0px 50px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__bg {
  width: 100%;
  height: auto;
}
.header__bg1024 {
  display: none;
  width: 100%;
  height: auto;
}
.header__bg744 {
  display: none;
  width: 100%;
  height: auto;
}
.header__menu {
  position: absolute;
  z-index: 2;
  top: 60px;
  left: 0px;
  width: 100%;
  height: 38px;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo-img {
  width: auto;
  height: 100%;
}
.header__logo-span {
  margin-left: 15px;
  font-size: 25px;
  font-weight: bold;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__link {
  font-size: 14px;
  color: #000;
  margin-left: 19px;
}
.header__captain {
  margin: 185px 0px 0px 230px;
}
.header__h1 {
  font-size: 43px;
  line-height: 140%;
  text-transform: uppercase;
}
.header__p {
  font-size: 12px;
  line-height: 15px;
}
.header__button {
  margin-top: 16px;
}
.header__button-a {
  background-color: #EC862C;
  color: #fff;
  padding: 6px 35px;
  font-size: 13px;
  border-radius: 22px;
}

.about {
  margin-top: 250px;
}
.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: start;
}
.about__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  text-align: left;
  margin-left: 80px;
}
.about__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about__h2 {
  font-size: 36px;
  color: #EC862C;
}
.about__p {
  font-size: 14px;
  line-height: 20px;
  margin-top: 25px;
}
.about__img {
  padding: 0px 80px;
  width: 100%;
  height: auto;
}

.gallery {
  margin-top: 250px;
}
.gallery__h3 {
  margin: 0px 0px 60px 0px;
  text-align: center;
  font-size: 36px;
  font-weight: 500;
}
.gallery__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  margin: 10px;
}
.gallery__img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.gallery__span {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}
.gallery__p {
  font-weight: 400;
  font-size: 12px;
  padding-top: 10px;
}

.video {
  margin-top: 250px;
}
.video__iframe {
  width: 100%;
  height: auto;
}
.video__img {
  width: 100%;
  height: auto;
}

.cards {
  margin-top: 250px;
}
.cards__row-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.cards__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.cards__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.cards__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 40px;
}
.cards__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cards__star {
  width: 100%;
  height: auto;
}
.cards__label {
  position: absolute;
}
.cards__span {
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  color: #EC862C;
  text-align: center;
  padding: 25px 0px 8px 0px;
}
.cards__p {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  text-align: center;
}

.contacts {
  margin-top: 250px;
  margin-bottom: 35px;
}
.contacts__h2 {
  font-size: 36px;
  color: #EC862C;
  text-align: center;
}
.contacts__row {
  max-width: 580px;
  margin: 0px auto;
}
.contacts__p {
  margin-top: 35px;
  font-size: 16px;
}
.contacts__a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #EC862C;
  border-radius: 2px;
}
.contacts__text {
  text-decoration: none;
  font-size: 16px;
  color: #17181D;
  padding: 13px 18px;
}
.contacts__img {
  width: auto;
  height: 100%;
}

.map {
  margin-top: 250px;
}
.map__label {
  width: 100%;
  height: auto;
}

.footer {
  margin-top: 250px;
  background-color: #54361C;
}
.footer__menu {
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__nav {
  width: 100%;
}
.footer__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.footer__li {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__link-a {
  margin-left: 35px;
}/*# sourceMappingURL=main.css.map */